<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Restaurant</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Katalog Restaurant" />
    <link rel="manifest" href="./app.webmanifest">
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.css"
    />
  </head>
    <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
    <title>Mari Makan</title>
</head>

<body>
    <a href="#content" class="skip-link">Go to content</a>
    <!-- Mobile -->
    <div class="menu__mobile">
        <div class="icon__menu" aria-label="menu Mobile" id="menu"><a href="javascript:void(0)">&#9776;</a></div>
        <div class="logo__mobile">Restaurant</div>
    </div>
   
        
        <!-- Desktop -->
        <nav class="nav">
            <a class="logo" href="">Restaurant</a>
            <ul class="nav__list">
                <li class="nav__item"><a href="/">Home</a></li>
                <li class="nav__item"><a href="#/favorite">Favorite</a></li>
                <li class="nav__item"><a href="https://github.com/LotuS16/">About Us</a></li>
            </ul>
        </nav>
        <!-- Jumbotron -->
        <div tabindex="0" class="hero">
            <div class="hero__inner">
                <h1 class="hero__title">AYO MAKAN MAKANAN INDONESIA!</h1>
                <p class="hero__tagline">Makanan Indonesia adalah salah satu kekayaan budaya yang sangat beragam dan lezat. Setiap daerah di Indonesia memiliki masakan khasnya sendiri, dengan berbagai macam bumbu, rempah-rempah, dan cara memasak yang unik. 
                </p>
            </div>
        </div>
        </div>
    <!-- Content -->
    <main tabindex="0" id="content">
        <h1 tabindex="0">Katalog Menu</h1>
    </main>
    <!-- Footer -->
    <footer tabindex="0">
        <ul>
            <li>copyright © 2023 - <a href="https://github.com/LotuS16/">LotuS16</a></li>
        </ul>
    </footer>
</body>

</html>